
.wrapBasicButton {
    border: 0.15em solid rgb(111, 6, 90);
    border-radius: 12px;
    display:inline-block;
    background-color: #66004b;
    width: 7em;
    margin: 0.5em
}

.wrapBasicButton:hover {
    background-color: rgba(111, 6, 90, 0.5);

}
    
