.navbarWindow {
  position: fixed;
  top: 2.5vh; 
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 8vh;
  background-color: transparent;
  z-index: 20;   
}

.navbarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 99, 99, 0.3);
  border: 1.5px solid rgba(222, 222, 222, 0.3);
  border-radius: 4vh;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(5px);
  box-sizing: border-box;
}

.navbarLogo {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.5em;
}

.navbarLogo li a {
  color: white;
  text-decoration: none;
}

.navbarLeft {
  display: flex;
  align-items: center;
  margin-left: 5vh;
    padding: 2vh 2.5vh;

}

.navbarRight {
  display: flex;
  align-items: center;
  margin-right: 5vh;
}

.navbarLinks {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.highlight {
  position: absolute;
  top: 0;
  width: calc(100% / 3);
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  border-radius: 2.5vh;
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  will-change: left, width, opacity;
}

.navbarLinks li {
  position: relative;
  z-index: 1;
  padding: 2vh 2.5vh;
  font-size: large;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbarLinks a {
  color: white;
  text-decoration: none;
  display: inline-block;
  line-height: 1;  
}

.navbarLinks:hover .highlight {
  opacity: 1;
}

.navbarLinks li:nth-child(1):hover ~ .highlight {
  left: 0;
  width: calc(100% / 3);
  opacity: 1;
}

.navbarLinks li:nth-child(2):hover ~ .highlight {
  left: calc(100% / 3);
  width: calc(100% / 3);
  opacity: 1;
}

.navbarLinks li:nth-child(3):hover ~ .highlight {
  left: calc(200% / 3);
  width: calc(100% / 3);
  opacity: 1;
}

.activeLink {
  font-weight: bold;
  color: var(--color-accent);
  font-variant-ligatures: none;
}