html,
body,
#root {
  height: 100%;
  background-color: rgb(19, 19, 19);
  overflow: hidden;
  margin: 0 auto;
  justify-content: center;

}

body {
  font-family: system-ui, sans-serif;
  background: transparent;
  position: relative;
  justify-content: center;
}

.main-window {
  background-color: #191919;
  color: rgb(232, 232, 232);
  align-items: center;
  align-content: center;
  text-align: center;
  width: 85%;
  height: 100%;
  border-radius: 20%;
  margin: 0 auto;
}
